![Tests](https://github.com/kolypto/py-nplus1loader/workflows/Tests/badge.svg?branch=development)
[![Pythons](https://img.shields.io/badge/python-3.6%E2%80%933.8-blue.svg)](.travis.yml)

{{ module['doc'] }}
